@import "reset";
@import "variables";

main {
    width: $width-main;
    margin: 0 auto;
}
.logo {
    font-size: 50px;
}
.btn {
    width: max-content;
    height: $height;
    &.btn-float-left {
        float: left;
    }
    &.btn-float-right {
        float: right;
    }
    &.icon {
        border: none;
        padding: 5px;
        line-height: 5px;
        font-size: 25px;
        &>.icon-left {

        }
    }
}