@import "reset";
@import "variables";
@import "mixin";

main {
    max-width: $width-main;
    margin: 0 auto;
    .logo {
        font-size: 50px;
    }
    .btn {
        width: max-content;
        height: $height;
        border: none;
    }
    .btn_float_left {
        float: left;
    }
    .btn_float_right {
        float: right;
    }
    .btn_green {
        background: #58a28a;
        a {
            color: white;
        }
    }
    .btn_black {
        background: black;
        color: white;
        a {
            color: white;
        }
    }
    .btn_blue {
        background: #286075;
        color: white;
        a {
            color: white;
        }
    }
    .icon {
        padding: 5px;
        line-height: 5px;
        font-size: 25px;

    }
    a {
        text-decoration: none;
        color: black;
    }
}
