@import "src/assets/scss/variables";
$height-header: 40px;
$width-input-text: 300px;
$width-date: 200px;

.articles {
    .article {
        display: block;
        .article-wrap {
            align-items: center;
            display: flex;
            flex-wrap: wrap;
        }
        .title {
            align-items: center;
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 100%;
            font-size: 26px;
            font-weight: bold;
            justify-content: space-between;
            .title-h1-button {
                margin-left: 25px;
                width: 83%;
                h1 {
                    display: inline-block;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                    }
                }
                span {
                    margin: 5px;
                }
            }
        }
        .img {
            display: inline-flex;
            width: 150px;
            margin: 10px 0 15px 10px;
        }
        .content {
            display: flex;
            flex: 1 1;
            margin: 10px;
            line-height: 30px;
            font-size: 25px;
            color: grey;
        }
    }
    &-edit {
        &__input {
            width: 100%;
            height: 20px;
            font-size: 25px;
            padding: 10px;
        }
        &__textarea {
            width: 100%;
            margin-top: 10px;
            font-size: 25px;
            padding: 10px;
            height: 34rem;
        }
    }
}
