@import "src/assets/scss/variables";
$height-header: 40px;
$width-input-text: 300px;
$width-date: 200px;
$block: 'articles';

.#{$block} {
    .article {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        .header {
            align-self: center;
            display: flex;
            flex-wrap: wrap;
            flex: 1 1 100%;
            font-size: 26px;
            font-weight: bold;
            justify-content: space-between;
            .article__header__title {
                margin-left: 25px;
                width: 74%;
                @media screen and (max-width: 424px) {
                    width: 100%;
                }
                h1 {
                    display: inline-block;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                        color: #286075;
                    }
                }
                span {
                    margin: 5px;
                }
            }
            .article__header__date {
                width: 20%;
                @media screen and (max-width: 424px) {
                    display: none;
                }
            }
        }
        .img {
            display: inline-flex;
            width: 150px;
            margin: 10px 0 15px 10px;
        }
        .content {
            display: flex;
            flex: 1 1;
            margin: 10px;
            line-height: 30px;
            font-size: 25px;
            color: grey;
            @media (min-width: 425px) and (max-width: 767px) {
                height: 150px;
                overflow: hidden;
            }
            @media screen and (max-width: 424px) {
                height: 150px;
                overflow: hidden;
                white-space: break-spaces;
            }
        }
    }
    &-edit {
        &__input {
            width: 100%;
            height: 20px;
            font-size: 25px;
            padding: 10px;
        }
        &__textarea {
            width: 100%;
            margin-top: 10px;
            font-size: 25px;
            padding: 10px;
            height: 34rem;
        }
    }
}
