@import "src/assets/scss/variables";
$height: 40px;

.adminBar {
    color: black;
    width: 100%;
    padding: 15px;
    height: $height;
    .btn {
        width: max-content;
        height: $height;
        &.btn-float-left {
            float: left;
        }
        &.btn-float-right {
            float: right;
        }
    }
}
